# .htaccess
# HIDDEN FOLDER LINK
RewriteEngine On
        RewriteCond %{HTTP_HOST} ^isc-host.github.io/flags.isc$ [NC]
        RewriteCond %{REQUEST_URI} ^/app/(.*)$
        RewriteRule ^(.*)$ - [L,R=404]

# ERROR sites
ErrorDocument 400 /_errors/400.html
ErrorDocument 401 /_errors/401.html
ErrorDocument 403 /_errors/403.html
ErrorDocument 404 /_errors/404.html
ErrorDocument 500 /_errors/500.html
